<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demostaticfile</title>
</head>

<style>
    h2 {

        color: rebeccapurple;
        font-weight: bolder;
        text-decoration: dashed;
    }

    p {

        color: olive;
        font-family: 'Courier New', Courier, monospace;
    }
</style>

<body>

    <h2>Cjk Enterprises</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est iure, praesentium odio itaque necessitatibus quia
        eveniet modi facere, voluptatem corrupti tempore voluptate blanditiis. Tempora, in excepturi pariatur
        consectetur deserunt delectus, maiores, similique voluptates dolorem suscipit est quam recusandae iste! Iusto
        cumque accusamus recusandae nam suscipit illo magnam voluptate repudiandae veritatis?</p>

</body>

</html>